html
  body
    script(type='text/javascript', src='dist/manifest.b5f31938b6e79ef3afc2.js')
    script(type='text/javascript', src='dist/vendor.8f5b3213335e5cbf7713.js')
    script(type='text/javascript', src='dist/bundle.b72e8788d88b248c397e.js')
