script(type="text/javascript" src="dist/manifest.c0f2a583f62321f0ba8c.js")
script(type="text/javascript"  src="dist/vendor.8f5b3213335e5cbf7713.js")
script(type="text/javascript" src="dist/bundle.b72e8788d88b248c397e.js")
