script(type="text/javascript" src="dist/manifest.e69ef4b978ba750bf25e.js")
script(type="text/javascript" src="dist/vendor.8f5b3213335e5cbf7713.js")
script(type="text/javascript" src="dist/bundle.aac6e2ac2e5cf5e6ab02.js")
